# sockets/.env.example

SOCKET_PORT=3015
NODE_ENV=local

# Comma-separated list of allowed origins. In production, list your real domains.
CLIENT_URLS_LOCAL=http://localhost:3000,http://localhost:3001,http://localhost:1343
CLIENT_URLS_TEST=https://test.bidz4u.com,https://admin.test.bidz4u.com
CLIENT_URLS_PRODUCTION=https://bidz4u.com,https://admin.bidz4u.com
STRAPI_SOCKET_SECRET=ajsskkkkkkkkkkkkkkahhak